.list {

    margin: 0;
    padding: 0;
    padding-top: 68px;
    margin-left: 100px;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;

  margin: 0;
  padding: 0;
  padding-top: 90px;
  margin-left: 105px;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  list-style: none;

}

.list::-webkit-scrollbar {
  display: none;
}
