.cards {
  padding: 114px 24px 24px 20px;
  // width: 20vw;
  // width: 152px;
  // height: 256px;
  background-color: #1f1d2b;
  border-radius: 16px;
  // color: white;
  margin-left: 8px;
  margin-bottom: 78px;
  flex-shrink: 0;
  position: relative;
  & + & {
    margin-left: 28px;
  }
}

.card-image {
  position: absolute;
  top: -60px;
  // right: 31px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.text-wrapper {
  width: 200px;
  margin: 0 auto;
}

.card-title {
  font-family: "Barlow";
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
}

.card-text {
  margin-top: 10px;
  margin-bottom: 6px;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}
.card-text2 {
  margin: 0;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #abbbc2;
}
