.dashmadin-body {
  margin-right: 30px;
  background-color: #1f1d2b;
  border-radius: 8px;
}
.dashmaintop {
  padding: 24px 16px 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderreport {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 25px;
  line-height: 140%;
  color: #ffffff;
}

.filterbtn {
  font-family: "Barlow";
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #ffffff;
  padding: 14px 14px 14px 44px;
  background: #1f1d2b;
  border: 1px solid #393c49;
  border-radius: 8px;
  position: relative;

  &::before {
    content: "";
    background-image: url("../../../assets/images/elemets/Filter.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 13px;
    left: 14px;
  }
}

.dmenu-list {
  display: flex;
  color: #ffffff;
  border-bottom: 1px solid #393c49;
}
.ptext {
  padding-left: 24px;
}
.dmenu-item {
  padding-bottom: 24px;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #ffffff;
}

.mainitemslist {
  height: 340px;
  overflow-y: scroll;
}

.mainitemslist::-webkit-scrollbar {
  display: none;
}
