.maincard-header{
    margin-left: 100px;
    width: 100%;
}

.maincard-header-list {
    margin-right: 106px;
    margin-left: 20px;
    padding-top: 24px;
    padding-bottom: 13px;
    display: flex; 
    list-style: none;
    border-bottom: 1px solid #fff;
    position: relative;
    
    
    &::after {
        position: absolute;
        bottom: -2px;
        left: 0;
        content: "";
        width: 50px;
        height: 3px;
        background-color: #EA7C69;
        z-index: 2;
        border-radius: 2px;
    }
}

.maincard-header-item {
    
    &:not(:last-child){
        margin-right: 32px;
    }
}

.maincard-header-link {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
}

.active{
    color: #EA7C69;
}

.mainheader-content{
    margin-right: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainheader-title{
    padding-left: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
}

.mainheader-select{
    padding: 15px 14px 15px 44px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
    background: #1F1D2B;
    border: 1px solid #393C49;
    border-radius: 8px;
    appearance: none;
}

