.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 104px;
  // height: 100vh;
  background: #1f1d2b;
  border-radius: 0 16px 16px 0;
}
.nav_list {
  padding-left: 7px;
  margin-left: 20px;
}
.logo {
  margin-top: 24px;
}
.nav_item {
  margin-top: 22px;
  padding: 18px 2px 18px 18px;
}
.isActive {
  padding: 18px 19px;
  background: #ea7c69;
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
  border-radius: 8px;
}
