@font-face {
  font-family: "Barlow";
  font-weight: 400;
  font-style: normal;
  src: url("./assets/fonts/Barlow-Regular.ttf");
}

@font-face {
  font-family: "Barlow";
  font-weight: 500;
  font-style: normal;
  src: url("./assets/fonts/Barlow-Medium.ttf");
}

@font-face {
  font-family: "Barlow";
  font-weight: 600;
  font-style: normal;
  src: url("./assets/fonts/Barlow-SemiBold.ttf");
}
body {
  font-family: "Barlow";
  background-color: #393c49;
}

.main-part {
  background-color: #393c49;
}

.main-width {
  width: 70vw;
}
