.dashboard-oreder {
min-width: 24vw;
position: fixed;
right: 0;
margin-left: 30px;
background-color: aliceblue;
}

.bodycolors{
background-color: #252836;
}

.dashboardoreder-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    background: #1F1D2B;
    border-radius: 8px;
}

.contenttop{
width: 100%;
border-bottom: 1px solid #393C49;
padding-bottom: 20px;
}

.orderedtitle{
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
}

.orderedselect{
    padding: 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    background-color: #1F1D2B;
    border: 1px solid #393C49;
    border-radius: 8px;
}
.orderedinfobox{
margin-bottom: 32px;
padding-top: 20px;
}
.orderedinfos{
display: flex;

&:not(:last-child){
margin-bottom: 24px;
}
}

.mealimg{
margin-right: 20px;
}

.orederedtextmeal{
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #E0E6E9;
}

.orederedtextmeal2{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #ABBBC2;
}

.viewall {
    width: 100%;
    margin: 0 auto;
    padding:14px 0;
    color: #EA7C69;
    background-color: #1F1D2B;
    border: 1px solid #EA7C69;
    border-radius: 8px;
}