.nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 24px;
  width: 104px;
  background: #1f1d2b;
  border-radius: 0 16px 16px 0;
}
.nav_list {
  margin-left: 12px;
}
.nav_home {
  padding: 18px;
  background: #ea7c69;
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.32);
  border-radius: 8px;
}
.nav_logo {
  margin-bottom: 26px;
}
.nav_box {
  margin-top: 22px;
  padding: 13px 0 11px 12px;
}
